*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 80%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 55rem 5rem 20rem 5rem 15rem 5rem 12rem 20rem 5rem 15rem;
    grid-template-columns: 1fr;

}

.firstlist {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.firstbox {
    background-image: url(./images/banner3.jpg);
    height: 55rem;
    position: relative;
}


li {
    float: left;
    color: white;
    text-transform: uppercase;
}

.read {
    height: 2rem;
    width: 10rem;
    background-color: blue;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.secondbox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.title {
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    width: 85%;
    text-align:center;
    padding-top: 20%;
    margin: 0 auto;
}

.build {
    text-transform: uppercase;
    text-weight: bold;
    font-size: 2.5em;
    color: white;
    position: relative;
    margin-top: 1rem;
    margin-left: 1.5rem;

}

#build {
    color: orange;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
}

.border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 2px;
    width: 130px;
    border-top: 1px solid black;
}

.square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    transform: rotate(50deg);
    margin: 0 10px;
}

.who, .what, .get {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
}

.map {
    width: 100%;
}



