* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "FontAwesome";
    src: url(../fonts/fontawesome-webfont.ttf), url(../fonts/fa-brands-400.ttf);
}
  
@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto-Regular.ttf);
}
  
@font-face {
    font-family: "RobotoBold";
    src: url(../fonts//Roboto-Bold.ttf);
}
  
@font-face {
    font-family: "RobotoThin";
    src: url(../fonts/Roboto-Thin.ttf);
}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 1rem;
    line-height: 1;
    width: 100%;
}

.container {
    max-width: 60%;
    margin: 0 auto;
}

.third-box {
    max-width: 80%;
    margin: 0 auto;
}

header {
    background-image: url(./images/banner3.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.logo {
    color: #fff;
    font-size: 2.5rem;
    padding: 5px;
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
}

.logo span {
    color: #ff9801;;
    border: 3px solid #fff;
    border-right: none;
    padding: 2px 0 2px 5px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;

}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 40px;
    text-transform: uppercase;
}

nav ul li a {
    font: "RobotoBold", sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 2px;
    width: 130px;
    border-top: 1px solid black;
}

.square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    transform: rotate(50deg);
    margin: 0 10px;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.article h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    width: 95%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.read {
    height: 2rem;
    width: 10rem;
    background-color: #146eb4;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5rem; 
}

.first-box {
    margin: 20px auto;
}

.subtitle {
    position: relative;
    font-size: 1.5rem;
    margin: 70px auto 40px auto;
    padding: 20px;
    width: 60rem;
}

.subtitle h2 {
    margin-bottom: 10px;
    text-align: center;
}

.second-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    height: 100%;
}

.second-box img {
    width: 100%;
}

.items {
    padding: 0 20px 0 20px;
}

.item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    height: 100%;
}

.items h4 {
    color: #7fc2f7;
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.items p {
    line-height: 1.5rem;
    color: darkslategray;
}

.items ul {
    margin-top: 30px;
}

.items ul li {
    padding: 10px 0;
    color: gray;
    font-size: 0.9rem;
}

.items ul li i {
    color: #ff9801;
    margin-right: 10px;
}

.reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.review {
    padding: 35px 50px 35px 35px;
    background: #7fc2f7;
    color: white;
    line-height: 2rem;
}

.reviewer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reviewer h5 {
    color: #252b36;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.reviewer img {
    border-radius: 50%;
    height: 70px;
    border: 2px solid #fff;
    padding: 3px;
}

.name {
    margin-left: 20px;
}

.stars {
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 7px;
}

.stars li {
    padding-right: 5px;
}

.bottoms {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    line-height: 1.5;
    padding: 40px 0;
    background: #3bdd9a;
    color: white;
    width: 30rem;
    height: 13rem;
}

.bottom h5 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.bottom p {
    margin-bottom: 20px;
}

.bottom:nth-child(2) {
    background: #fd5282;
}

.bottom:nth-child(3) {
    background: #376de4;
}

.bottom:last-child {
    background: #82c3f5;
}

.bottom img {
    object-fit: contain;
    width: 150%;
    height: 140%;
}

.bottom i {
    margin-right: 20px;
}

.bottom .icons {
    display: flex;
}

.bottom .icons li a {
    color: white;
    font-size: 1.3rem;
}

iframe {
    width: 100%;
}

form input {
    padding: 15px;
    width: 33%;
    margin-bottom: 20px;
}

form input:last-child {
    margin-right: 0;
}

textarea {
    font-family: "RobotoRegular", sans-serif;
    padding: 15px;
    width: 100%;
    height: 150px;
}

.mail .submit {
    display: inline-block;
    text-align: center;
}

.submit {
    border: none;
    color: white;
    background: #fd9727;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    text-size-adjust: inherit;
    margin-bottom: 30px;
}

footer {
    background-color: #212121;
    color: white;
    height: 15vh;
    margin-top: 20px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer ul {
    display: flex;
    margin-bottom: 20px;
}

footer ul li {
    margin-right: 20px;
}

footer ul li a {
    color: white;
}

@media all and (max-width: 768px) {
    
    .first-box, .third-box {
        width: 750px;
    }

    .second-box {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .items {
        flex: 45%;
    }

    header {
        height: 50vh;
        overflow: hidden;
    }

    .article {
        height: 50vh;
    }

    .article h1 {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.2rem;
        margin: 21px auto 40px auto;
        width: 31rem;
    }

    .subtitle h2 {
        text-align: center;
    }

    .subtitle::before, .subtitle::after {
        width: 7rem;
    }

    .bottoms {
        flex-wrap: wrap;
    }

    .bottom {
        flex: 40%;
    }

    .reviews {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }

    .review {
        flex-basis: 45%;
    }

    .bottom {
        flex: 43%;
    }

    form input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}

@media all and (max-width: 480px) {

    .first-box, .third-box {
        width: 450px;
    }

    .second-box {
        display: flex;
        flex-direction: column;
    }

    header {
        background: none;
        height: 80vh;
    }

    .subtitle h2 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        color: gray;
        margin-bottom: 30px;
    }

    .logo span {
        border: 3px solid gray;
        border-right: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        background: #82c3f5;
        width: 100%;
    }

    nav ul li {
        padding: 10px 0;
    }

    nav ul li a {
        font-weight: 600;
    }

    .article {
        background: url(./images/banner3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: inherit;
    }

    .article .text h1 {
        font-size: 1rem;
    }

    .subtitle {
        width: 21rem;
    }

    .subtitle::before {
        left: 12rem;
    }

    .subtitle::after {
        right: 12rem;
    }

    .items {
        display: flex;
        flex-direction: column;
    }

    .reviews {
        display: flex;
        flex-direction: column;
    }
    .card {
        flex-basis: 100%;
    }

    form input {
        width: 100%;
    }

    footer ul li a {
        font-size: 0.7rem;
    }

    footer p {
        font-size: 0.8rem;
    }
    
}