#mario {
    background-image: url(./mario.png);
}

#running-mario {
    background-image: url(./mario_running.gif);
    display: none;
}

#mario, #running-mario {
    height: 150px;
    width: 120px;
    position: absolute;
    left: 650px;
    bottom: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: contain;
    height: 95vh;
}


