<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="position.css"/>
    <title>Position</title>
</head>
<body>
    <div class="containter">
    <p>
        <a id="top"></a>
            Mauris a nulla ipsum. Fusce ultrices est ligula, gravida iaculis tortor tincidunt in. Curabitur id risus nisl. Nam pharetra pharetra vulputate. Pellentesque pretium erat quis quam blandit tincidunt. Morbi viverra nisl finibus, vulputate sapien interdum, lacinia ipsum. Quisque tempus justo ac sem fermentum rhoncus. Sed volutpat leo et ex euismod, a dapibus dui dapibus. Fusce elementum et mauris tempor luctus. Aliquam sagittis in magna sit amet auctor. Suspendisse ac nulla sem. Pellentesque venenatis velit sit amet tortor elementum, tristique malesuada erat tincidunt. Cras non orci consectetur, interdum libero quis, interdum nibh. Donec placerat dolor vel lorem suscipit, a imperdiet augue scelerisque. Proin pellentesque, odio a mattis varius, dolor lacus ultrices tortor, ut rhoncus justo est eget purus.
    </p>

    <div class="img1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPnB_z1ZpGUPwTZzJtkp0i38zoBxJ9wWkLoQ&usqp=CAU" alt="confused kitty" title="catto"/>
    </div>
    <div class="img2">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi72Ku_T-BUPmxWajHujFKSJQTf1HbAcjAaw&usqp=CAU" alt="cute dog" title="doggo"/>
    </div>
    <div class="img3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjps6f_m3fpCghTp7dvM_cSgi7sHoPXNiEgQ&usqp=CAU" alt="guinea pig munching" title="guinea pig"/>
    </div>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel consectetur metus, ut ultrices odio. Donec vitae consectetur lorem. Sed porttitor risus vel convallis tempus. Nullam hendrerit orci sit amet nunc fringilla, at auctor mi dignissim. Donec egestas justo dignissim ante elementum, eu euismod elit ornare. Aliquam erat volutpat. Nulla condimentum magna lectus, vitae condimentum quam feugiat eget. Vivamus posuere enim odio, sed sollicitudin ex aliquam ac.</p>

    <p>Proin eu sollicitudin arcu. Integer et elementum leo. Suspendisse volutpat, eros eu ultricies luctus, ipsum eros egestas neque, at fringilla erat sapien in tellus. Phasellus auctor risus eu massa sollicitudin dictum sed vel orci. Nam ac mauris sed lectus vehicula commodo quis non lorem. Nulla non orci enim. Pellentesque cursus elit nec est porttitor, eget rhoncus elit ultricies. Integer vestibulum suscipit fringilla. Nunc condimentum metus eu faucibus sagittis. Ut nec libero id mi eleifend gravida.</p>
    
    <p>Fusce diam justo, mollis ac ornare at, cursus sed sapien. Nunc facilisis mollis purus a consequat. Maecenas bibendum ex et purus malesuada mattis. Vestibulum ac cursus tortor. Donec non neque odio. Nunc tincidunt quis leo a luctus. Cras aliquam non turpis nec pharetra. Nullam a dictum nunc. Aenean sed arcu vitae mauris laoreet vehicula et laoreet purus. Mauris id finibus lectus. In hac habitasse platea dictumst.</p>
    
    <p>Mauris a nulla ipsum. Fusce ultrices est ligula, gravida iaculis tortor tincidunt in. Curabitur id risus nisl. Nam pharetra pharetra vulputate. Pellentesque pretium erat quis quam blandit tincidunt. Morbi viverra nisl finibus, vulputate sapien interdum, lacinia ipsum. Quisque tempus justo ac sem fermentum rhoncus. Sed volutpat leo et ex euismod, a dapibus dui dapibus. Fusce elementum et mauris tempor luctus. Aliquam sagittis in magna sit amet auctor. Suspendisse ac nulla sem. Pellentesque venenatis velit sit amet tortor elementum, tristique malesuada erat tincidunt. Cras non orci consectetur, interdum libero quis, interdum nibh. Donec placerat dolor vel lorem suscipit, a imperdiet augue scelerisque. Proin pellentesque, odio a mattis varius, dolor lacus ultrices tortor, ut rhoncus justo est eget purus.</p>
    
    <p>Nunc in volutpat erat. Morbi id varius turpis. Vestibulum mattis erat mauris. Praesent a consectetur neque. Integer quis finibus ligula, eu aliquet massa. In volutpat mattis risus sit amet vestibulum. Nulla a quam id mauris mattis auctor. Mauris non dui commodo sapien tempus varius et quis leo. Donec vehicula, sem nec commodo porttitor, magna neque vulputate tellus, eu convallis sapien diam at lorem. Praesent posuere porta magna, eget volutpat leo posuere in. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eu faucibus ipsum, quis mattis tortor. Ut dapibus sagittis odio, vitae tempor massa posuere in. Nam sodales, enim vitae iaculis finibus, est metus rutrum tortor, suscipit viverra leo tellus et purus. Nullam commodo rhoncus facilisis.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque eros, rhoncus vitae ipsum efficitur, dignissim interdum augue. Morbi eget volutpat mauris. Mauris ornare, magna ac rutrum placerat, odio ex fermentum ex, id volutpat urna velit vitae ipsum. Donec vitae urna ut mauris pellentesque cursus in ac turpis. Nunc fermentum, tellus vel euismod dapibus, turpis nisi consectetur sapien, nec gravida tellus turpis a nisl. Sed sit amet sollicitudin turpis. Ut malesuada malesuada tellus convallis fermentum. Praesent et mauris neque.</p>

    <p>Nulla mi velit, bibendum ut porttitor quis, tincidunt eget elit. Cras quis eros sapien. Proin aliquet eu risus eu bibendum. Fusce venenatis luctus risus, ac semper eros congue sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras eget augue lacus. Sed porta neque sed ex varius hendrerit. Maecenas vitae lectus magna. Nulla laoreet mi eget consectetur sollicitudin. Pellentesque nulla tellus, efficitur eget libero quis, suscipit commodo est. Integer velit nibh, varius id maximus vel, iaculis vitae augue. Donec laoreet, nisi eu vulputate eleifend, ex ipsum pharetra nunc, eget aliquam tellus purus et nulla. Duis nisi est, pretium non sapien ut, varius tempor neque.</p>
    
    <p>Donec eget elit eu magna scelerisque tincidunt. Pellentesque consectetur ac quam et lobortis. Nulla ultricies congue metus ac accumsan. Fusce eros risus, volutpat a purus at, molestie dignissim est. Nullam ac faucibus felis, non pulvinar justo. Etiam nunc ipsum, porta sed elit vitae, pulvinar convallis eros. Quisque ac dapibus lectus, ut auctor ipsum. Nulla elementum elit vel imperdiet lacinia.</p>
    
    <p>Nullam ac purus at nisl finibus viverra. In at tristique ligula. Etiam eleifend tincidunt nunc, vitae mollis est. In volutpat velit vel venenatis dignissim. Aenean volutpat, ipsum vitae tincidunt fringilla, lorem nisi congue lorem, sed facilisis ex orci non felis. Sed eget ex nulla. Morbi ultricies sem vel aliquam eleifend. Nulla tempus risus sit amet neque interdum, vel molestie urna facilisis. Etiam lacinia, urna nec ultrices faucibus, est sapien sollicitudin risus, non sollicitudin arcu felis aliquam magna. Nam ut mi ut risus venenatis sollicitudin id vel orci. Nulla sed lorem ac nunc dignissim tempor eget vel augue. Curabitur at nulla eget libero aliquam volutpat nec ac diam. Sed sit amet odio interdum, tristique felis in, auctor ligula. Phasellus lacinia sapien non justo tincidunt, a mollis nunc elementum.</p>
    
    <p>Curabitur aliquet nibh id felis vulputate tempus. Cras dolor velit, tempor quis dignissim ut, efficitur ac nulla. In at sapien nec nisl tincidunt cursus in vel velit. Nam aliquam condimentum dui, vel malesuada mauris mollis at. Etiam eget risus at augue congue finibus. Nunc justo augue, fringilla nec facilisis eu, venenatis sit amet sapien. Nunc efficitur diam magna, quis tristique erat blandit in. Nullam nec purus diam. Mauris lacus tortor, ullamcorper et tempor sit amet, sagittis sit amet ipsum. Sed efficitur sodales scelerisque. Integer posuere volutpat ornare.</p>

    <div class="link">
        <a href="./position.html #top">Back to top</a>
    </div>
</div>
</body>
</html>