<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="semantic-layout.css"/>
    <title>Semantic Layout</title>
</head>
<body>
    <div class="container">

        <nav>
            <ul class="header">
                <li class="list-item">Home</li>
                <li class="list-item">About</li>
                <li class="list-item">Contact</li>
                <li class="list-item">Blog</li>
            </ul>
        </nav>

        <section>
            <div class="images">

                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeo21b5ejd4fX-HLqE2JxC1flCOIQQoUAXCg&usqp=CAU" alt="css3 logo" title="css3"/>
                </div>

                <div class="image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLBKgW8s1lRswVgT7lsBpbLYMx_0ZIbiPL5dsKusS_vdnBIhDVgCY52hdlTfQ3fSlSOvA&usqp=CAU" alt="html5 logo" title="html5"/>
                </div>

            </div>
        </section>

        <main>
            <div class="big-table">
                
                <section>
                    <div class="table-item">
                
                        <div id="color" class="red"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="grey"><span>300 X 200</span></div>
                        
                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <aside>
                    <ul class="articles">
                        <li class="article">Rebuilding slack.com</li>
                        <li class="article">Zasto bootcamp format?</li>
                        <li class="article">React - prozor u svet web aplikacija</li>
                        <li class="article">Najvece zablude o programerima u Srbiji</li>
                    </ul>
                </aside>

                <section>
                    <div class="table-item">

                        <div id="color" class="yellow"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="green"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="red"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="grey"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="yellow"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>

                <section>
                    <div class="table-item">

                        <div id="color" class="green"><span>300 X 200</span></div>

                        <article>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ultricies orci id mattis ornare. Sed a dolor pellentesque, rhoncus turpis a, pharetra libero. Nam et consequat enim. Morbi ligula diam, gravida a molestie eget, pharetra a ligula. Nunc euismod enim a urna aliquet vestibulum. Morbi placerat, mi quis finibus imperdiet, enim eros tempus neque, et vulputate erat felis vitae tellus. Ut sit amet commodo tortor.</p>
                            </div>
                        </article>

                    </div>
                </section>
            
            </div>
        </main>

    </div>

    <footer>
        <span>© BitStudent</span>
    </footer>

</body>
</html>