<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="z-index.css"/>
    <title>Z-index</title>
</head>
<body>
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
    <hr/>
    <div class="fourth"></div>
    <div class="fifth"></div>
    <div class="sixth"></div>
    <hr/>
    <div class="container"></div>
        <div class="seventh"></div>
        <div class="eighth"></div>
        <div class="ninth"></div>
    </div>
</body>
</html>