ul {
    li {
        a {
            text-decoration: none;
        }

        a:active {
            background-color: yellow;
        }

        a:visited {
            background-color: orange;
        }

        a:link {
            background-color: green;
        }

        .important {
            font-weight: bold;
        }
}
}

