.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 12px;
}

#secondbutton {
    background-color: darkgoldenrod;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
}

body {
    background-color: grey;
}

.color {
    background-color: aquamarine;
}