* {
    box-sizing: border-box;
  }

.container {
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
}

.header, .box {
    border-radius: 2%;
    overflow: hidden;
    border: 1px solid #bfbfbf;
}

.header {
    height: 300px;
    font-size: 45px;
    color: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 95%;
}

body {
    padding: 0;
    border: 0;
    text-align: center;
}

ul {
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 10px;
}

.list {
    height: 20%;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

li {
    border: 1px solid #bfbfbf;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    color: white;
    border-radius: 5% 5% 0 0;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

li:first-of-type {
    background-color: #00aaff;
}

.boxes {
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    margin-top: 15px;
    width: 100%;
}

img {
    Width: 100%;
    height: 20%;
}

p {
    margin: 15px;
}

@media all and (min-width: 768px) { 

    h1 {
        float: left;
    }

    .list  {
        position: absolute;
        width: 380px;
        top: 20px;
        right: 5%;
    }

    li {
        display: inline;
        border: none;
        padding-left: 10px;
    }

    .header {
        height: 40vh;
        width: 100%;
    }

    a {
       color: #00aaff;
    }

    .box {
        display: flex;
    }

    .home {
        display: inline;
        padding: 8px 5px 8px 5px;
        border-radius: 8%;
    }

    p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

@media all and (min-width: 1025px) {

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .boxes {
        display: flex;
    }

    .header {
        width: 100%;
    }

    ul {
        display: flex;
        width: 380px;
    }

    a {
        color: #00aaff;
    }

    .home {
        display: inline;
        padding: 8px 5px 8px 5px;
        border-radius: 8%;
    }

    .section {
        display: inline-block;
        text-align: center;
        width: 120px;
    }
    img {
        width: 100%;
        height: 50%;
    }
    p {
        display: block;
    }

    .box {
        display: inline-block;
        border: none;
        justify-content: space-between;
        width: 100%;
    }

}
